#box-head {
  color:#FFFFFF;
  background-color:#669900;
  width:500px;
  margin:0 auto;
  text-align:center;
}

#box {
  width:500px;
  background-color:#E6FFCC;
  margin:0 auto;
}

#inner-form {
  display:inline;
  margin:10px 10px 10px 10px;
}

.split {
  width:500px;
}

.tag {
  display:inline-block;
  width:100px;
  text-align:left;
  padding-left:10px;
  font-family:Tahoma;
  font-size:14px;
  color:black;
  padding-top:5px;
  font-weight:bold;
  vertical-align:top;
}

.split .formelement {
  padding-left:10px;
}

.formelement {
  display:inline-block;
  width:370px;
  text-align:left;
  padding-top:5px;
  margin-bottom:0px;
  padding-bottom:0px;
}

input[type="text"], input[type="email"] , select {
  background-color:white;
  border:1px solid green;
  width:200px;
  margin-bottom:0px;
  padding-bottom:0px;
}

#submit-button-box {
  text-align:center;
  font-size:14px;
}

#submit-button {
  text-align:center;
}

#submit-button-text {
  text-align:center;
}

.suggestion-list {
  padding:0;
  margin:0;
  text-decoration:none;
  list-style-type:none;
  width:200px;
  background-color:#efefef;
}

.suggestion-list li:hover {
  background-color:#333333;
  color:#ffffff;
}
