#arithmetic-quiz {
  width:auto;
  margin:0 auto;
}

#quiz-head, #quiz-main {
  float:left;
  width:80%;
}

#quiz-head {
  font-size: 2em;
}

#status {
  float:left;
  width:20%;
}

#hint-text {
  font-size: 0.8em;
}

#question {
  margin-top: 20px;
}

#quiz-main tr td, #quiz-main tr th {
  padding-left:20px;
  padding-right:10px;
}