#outer-box {
  width:1000px;
  margin:0 auto;
}

#country-list, #empty-list {
  width:400px;
  float:left;
}

#country {
  float:right;
}

#country-list {
  padding-right:40px;
}

#buttons {
  float:left;
  width:150px;
}

#add-button, #remove-button {
  float:left;
  clear:both;
  background-color:orange;
  color:white;
  width:100px;
  margin-bottom:10px;
  margin-top:10px;
}

select {
  width:200px;
  height:100px;
}

#add-button, #remove-button {
  text-align:center;
}
